.post-page {
  font-family: 'hk_grotesksemibold';

  h1, h2, h3, h4, h5, h6 {
    font-family: 'hk_groteskbold';
    text-transform: uppercase;
  }

  h1 {
    font-family: 'Ilisarniq-Black'
  }

  flex-direction: column;

  max-width: 60rem;
  margin: 0 auto;
  .post {
    margin: 0 auto 6rem;
    text-align: left;
    max-width: 50rem;
    ul, ol {
      margin-left: 1.75rem !important;
      max-width: 40rem;
    }
    p {
      font-size: 1.15rem;
      font-family: 'hk_groteskregular';
      line-height: 1.75rem;
      
    }
  }
}
