$purple          :     #382154;
$red             :     #DA291C;
$blue            :     #00b8f0;

$light-gray      :     #c5c5c5;
$mid-gray        :     #939393;
$dark-gray       :     #444;

$main-text-color :     #150d2b;

@font-face {
    font-family: 'font-black';
    src: url('../assets/fonts/typetype_-_tt_firs_neue_black-webfont.woff2') format('woff2'),
         url('../assets/fonts/typetype_-_tt_firs_neue_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-bold';
    src: url('../assets/fonts/typetype_-_tt_firs_neue_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/typetype_-_tt_firs_neue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font-medium';
    src: url('../assets/fonts/typetype_-_tt_firs_neue_medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/typetype_-_tt_firs_neue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font-light';
    src: url('../assets/fonts/typetype_-_tt_firs_neue_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/typetype_-_tt_firs_neue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ilisarniq-Light';
    src: url('../assets/fonts/Ilisarniq-Light.eot');
    src: url('../assets/fonts/Ilisarniq-Light.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-Light.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-Light.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-LightItalic';
    src: url('../assets/fonts/Ilisarniq-LightItalic.eot');
    src: url('../assets/fonts/Ilisarniq-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-LightItalic.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-LightItalic.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-LightItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-Regular';
    src: url('../assets/fonts/Ilisarniq-Regular.eot');
    src: url('../assets/fonts/Ilisarniq-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-Regular.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-Regular.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-Italic';
    src: url('../assets/fonts/Ilisarniq-Italic.eot');
    src: url('../assets/fonts/Ilisarniq-Italic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-Italic.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-Italic.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-Italic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-Demi';
    src: url('../assets/fonts/Ilisarniq-Demi.eot');
    src: url('../assets/fonts/Ilisarniq-Demi.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-Demi.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-Demi.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-Demi.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-DemiItalic';
    src: url('../assets/fonts/Ilisarniq-DemiItalic.eot');
    src: url('../assets/fonts/Ilisarniq-DemiItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-DemiItalic.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-DemiItalic.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-DemiItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-Bold';
    src: url('../assets/fonts/Ilisarniq-Bold.eot');
    src: url('../assets/fonts/Ilisarniq-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-Bold.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-Bold.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-BoldItalic';
    src: url('../assets/fonts/Ilisarniq-BoldItalic.eot');
    src: url('../assets/fonts/Ilisarniq-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-BoldItalic.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-BoldItalic.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-BoldItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-Black';
    src: url('../assets/fonts/Ilisarniq-Black.eot');
    src: url('../assets/fonts/Ilisarniq-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-Black.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-Black.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-Black.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ilisarniq-BlackItalic';
    src: url('../assets/fonts/Ilisarniq-BlackItalic.eot');
    src: url('../assets/fonts/Ilisarniq-BlackItalic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Ilisarniq-BlackItalic.woff2') format('woff2'),
         url('../assets/fonts/Ilisarniq-BlackItalic.woff') format('woff'),
         url('../assets/fonts/Ilisarniq-BlackItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'hk_groteskbold';
    src: url('../assets/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskbold_italic';
    src: url('../assets/fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskbold_legacy';
    src: url('../assets/fonts/hkgrotesk-boldlegacy-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-boldlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskbold_legacy_italic';
    src: url('../assets/fonts/hkgrotesk-boldlegacyitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-boldlegacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskitalic';
    src: url('../assets/fonts/hkgrotesk-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklegacy_italic';
    src: url('../assets/fonts/hkgrotesk-legacyitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-legacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight';
    src: url('../assets/fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight_italic';
    src: url('../assets/fonts/hkgrotesk-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight_legacy';
    src: url('../assets/fonts/hkgrotesk-lightlegacy-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-lightlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight_legacy_italic';
    src: url('../assets/fonts/hkgrotesk-lightlegacyitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-lightlegacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskmedium';
    src: url('../assets/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskmedium_italic';
    src: url('../assets/fonts/hkgrotesk-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskregular';
    src: url('../assets/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskregular_legacy';
    src: url('../assets/fonts/hkgrotesk-regularlegacy-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-regularlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold';
    src: url('../assets/fonts/hkgrotesk-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold_italic';
    src: url('../assets/fonts/hkgrotesk-semibolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold_legacy';
    src: url('../assets/fonts/hkgrotesk-semiboldlegacy-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-semiboldlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskSBdlegacyIt';
    src: url('../assets/fonts/hkgrotesk-semiboldlegacyitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-semiboldlegacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
