</div> <!-- end role main -->
<footer>

  <div class="wrapper">
    <div class="col-1">
      <div class="container">
        <p class="work-link">If you have an exciting project I would love to hear about it</p>
      </div>
    </div>
    <div class="col-2">
        <nav class="site-nav">
          <div class="nav-list work">
              <a class="page-link" href="{{ site.baseurl }}/">Home</a>
            {% for page in site.pages %}
              {% if page.title %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              {% endif %}
            {% endfor %}
            </div>

            <div class="nav-list sites">
               <a class="page-link" href="http://www.centraflux.com/">Centraflux</a>
              <a class="page-link" href="http://www.bringuscocoa.com/">BringUsCocoa</a>
              <a class="page-link" href="http://www.lovelygeeks.com/">LovelyGeeks</a>
              <a class="page-link" href="http://www.minmaxfit.com/bybrandonbrown">MinMaxFit</a>
              <a class="page-link" href="http://www.cosplay.fitness">Cosplay.Fitness</a>
              
            </div>

            <div class="nav-list social">
              <a class="page-link" href="http://www.twitter.com/bybrandonbrown">Twitter</a>
              <a class="page-link" href="http://www.dribbble.com/bybrandonbrown">Dribbble</a>
              <a class="page-link" href="http://www.github.com/brandonbrown">Github</a>
              <a class="page-link" href="http://www.linkedin.com/bybrandonbrown">LinkedIn</a>
              <a class="page-link" href="mailto:hello@bybrandonbrown.com">Contact</a>
            </div>
          </div>
        </nav>
    </div>
  </div>

</footer>
