</div> <!-- end role main -->
<footer>

  <div class="wrapper">
    <div class="col-1">
        <nav class="site-nav work">
          <a class="page-link" href="{{ site.baseurl }}/">Home</a>
          <a class="page-link" href="{{ site.baseurl }}/blog">Blog</a>

          <a class="page-link" href="{{ site.baseurl }}/about">About</a>
          <a class="page-link" href="mailto:hello@bybrandonbrown.com">Contact</a>
        </nav>

            <!-- <div class="nav-list sites">
               <a class="page-link" href="http://www.centraflux.com/">Centraflux</a>
              <a class="page-link" href="http://www.bringuscocoa.com/">BringUsCocoa</a>
              <a class="page-link" href="http://www.lovelygeeks.com/">LovelyGeeks</a>
              <a class="page-link" href="http://www.minmaxfit.com/bybrandonbrown">MinMaxFit</a>
              <a class="page-link" href="http://www.cosplay.fitness">Cosplay.Fitness</a>

            </div> -->

        <nav class="site-nav social">
          <a class="page-link" href="http://www.twitter.com/bybrandonbrown">Twitter</a>
          <a class="page-link" href="http://www.dribbble.com/brandonbrown">Dribbble</a>
          <a class="page-link" href="http://www.github.com/brandonbrown">Github</a>
          <a class="page-link" href="http://www.youtube.com/channel/UCtYb1X445jCpJNPI1JCPRNA">YouTube</a>
          <a class="page-link" href="http://www.linkedin.com/in/bybrandonbrown">LinkedIn</a>
          <a class="page-link" href="https://medium.com/@bybrandonbrown">Medium</a>
        </nav>
    </div> <!-- end col 1 -->

    <div class="col-2">
        <p class="thankyou">Hey, you're awesome! I appreciate you taking the time to visit to my site. If something you found here inspires you, upsets you, or makes you want to ask a few questions please <a href="http://twitter.com/bybrandonbrown">reach out to me on twitter</a> and let's chat!</p>
    </div>

    <div class="col-3">
      <p class="copyright">bybrandonbrown.com and all contents copyright 2016 by Brandon Brown unless otherwise noted.
Contents under Creative Commons License.</p>
    </div>
  </div>

</footer>
