<header class="site-header">

  <div class="wrapper">
    <div class="col-1 logo-container">
      <!-- <p>Logo</p> -->
      <h1><span>The website of </span>Brandon Brown</h1>
    </div>
    <div class="col-2 site-nav">
      <nav role="primary" class="work">
          <a class="page-link" href="{{ site.baseurl }}/">Home</a>
          <a class="page-link" href="{{ site.baseurl }}/blog">Blog</a>
          <!-- <a class="page-link" href="{{ site.baseurl }}/portfolio">Portfolio</a> -->
          <a class="page-link" href="{{ site.baseurl }}/about">About</a>
          <a class="page-link" href="mailto:hello@bybrandonbrown.com">Contact</a>
      </nav>
      <nav role="secondary" class="social">
        <a class="page-link" href="http://www.twitter.com/bybrandonbrown">Twitter</a>
        <a class="page-link" href="http://www.dribbble.com/brandonbrown">Dribbble</a>
        <a class="page-link" href="http://www.github.com/brandonbrown">Github</a>
        <a class="page-link" href="http://www.youtube.com/channel/UCtYb1X445jCpJNPI1JCPRNA">YouTube</a>
        <a class="page-link" href="http://www.linkedin.com/in/bybrandonbrown">LinkedIn</a>
        <a class="page-link" href="https://medium.com/@bybrandonbrown">Medium</a>

      </nav>
    </div>
    <div class="col-3 headerExtras">
      &nbsp;
    </div>
  </div>

</header>
<div role="main">
