<header class="site-header">

  <h1>Daily Design Collections and some other stuff by Brandon Brown</h1>
  <nav class="site-nav">
    <a class="page-link">Collections</a>
    <a class="page-link">Articles</a>
    <a class="page-link">Work</a>
    <a class="page-link">About</a>
    <a class="page-link">Contact</a>
  </nav>
  <p>The images and articles linked within these collections are the efforts of others
that made me react with a holy shit or at the least a pause. These will cover
many different mediums, styles, and purposes. Don’t expect much
rhyme or reason.</p>
</header>
<div role="main">
