.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.front {
	background: url(../img/bg-main.png) no-repeat center center fixed; 
}

.makearticlelayout {
  background: url(../img/rvp.png) no-repeat center top fixed; 
}