.blog {
	display: flex;
	.col-2 {
		h1 {
			margin: 0;
			padding: 0px;
			line-height: 4.5rem;
				a {
				@include font-size(4.8);
				font-family: $headings;
				text-transform: uppercase;
				font-weight: 900;
				float: none;
				display: block;
				margin: 0;
				padding: 0;
				color: $text-color;
			}
		}
		.meta {
			margin: 0;
			font-family: $headings-condensed;
			font-style: italic;
			font-weight: 100;
			@include font-size(1.4);
		}

		.displayed-post {
			margin-bottom: 75px;
			padding-bottom: 25px;
			border-bottom: 8px solid $secondary-color;
		}
	}
	@include media-query($on-classic) {
		flex-direction: column;
		.col-1 {
			width: 0;
			flex: 0;
		}
		.col-2 {
			width: 100%;
			flex: 1;
		}
		.col-3 {
			width: 100%;
			flex: 1;
			border-left: 0;
			border-top: 1px solid $window-color;

		}
	}
}
