.site-header {
  // header styles
  width: 460px;
  position: fixed;
  margin-top: 200px;


  .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


  }

  h1 {
    @include font-size(1.4);
    font-weight: bold;
    line-height: 1.6rem;
    border-bottom: 1px solid $window-color;
    padding-left: 50px;
    padding-bottom: 15px;
  }

  .col-1, .col-2, .col-3 {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-nav {
      // main header link styles
      padding-left: 45px;
      overflow: hidden;
      .page-link {

          // nav items styles
          padding: 5px;
          margin: 0 15px 0 0;
          display: block;
          float: left;
          line-height: 2;
          @include font-size(1.2);
          font-weight: 900;
          font-family: $headings;
          text-transform: uppercase;
          // Gaps between nav items, but not on the first one
          &:not(:first-child) {
              //margin-left: 15px;
          }
      }

      @include media-query($on-laptop) {

      }



      @include media-query($on-device) {

      }



  }

  p {
    padding-top: 15px;
    padding-left: 50px;
  }


}
