.home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;


	.main-list {
		margin-left: 550px;
		width: 600px;
		padding-top: 75px;

		li {
			box-shadow: 0px 0px 0px 8px $window-color;
			margin-bottom: 50px;

			&:hover {
				box-shadow: 0px 0px 0px 12px $caption-text;
			}
			.words {
				padding: 20px;
				width: 560px;
				display: block;

				p {
					color: $text-color;
				}

				span {
					display: block;
					color: $caption-text;
					margin-bottom: 10px;
				}
			}
		}
	}

	.col-3 {
		display: flex;


	}

	.home-heading {
		overflow: hidden;
	}

	@include media-query($on-classic) {
		flex-direction: column;
		.col-1 {
			width: 0;
			flex: 0;
		}
		.col-2 {
			width: 100%;
			flex: 1;
		}
		.col-3 {
			width: 100%;
			flex: 1;
			border-left: 0;

		}
	}
}

.introduction {
	flex-grow: 1;
	margin-left: 0;
	padding-top: 25px;

	@include media-query($on-classic) {
		flex-direction: row;
		display: flex;
		padding: 25px 20px 25px;
	}

	li {
		padding: 5px 30px 10px 20px;
		overflow: hidden;

		@include media-query($on-classic) {
			flex: 1;
			padding: 10px;
		}

		.post-title {
			@include font-size(1.5);
			padding-bottom: 0px;
			float: none;
			line-height: 2.25rem;
			text-transform: uppercase;
			margin-bottom: 0;
			color: $brand-color;
		}
		.post-category {
			float: none;
			padding-bottom: 5px;
			display: block;
		}
		.intro {
			@include font-size(1.4);
			font-family: $headings-condensed;
			line-height: 1.5rem;
		}
	}
	h4 {
		color: $grey-color;
		font-family: $headings-condensed;
		font-weight: 300;
		font-style: italic;
		margin: 0;
		padding: 15px 0 10px;
	}
	a {
		display: block;
		float: left;
		clear: both;
		padding: 5px 10px;
		margin-left: -10px;
		font-weight: bold;
		@include font-size(1);

	}
}
