body {
    padding: 15px;

    @include media-query($on-device) {
        padding: 3px;
    }

}

footer {
  padding-top: 30px;
  margin-top: 20px;
  .col-1 {
    nav {
      margin-top: 0;
    }
  }
}

.col-1 {
    width: 70.8641975%;
    float: left;

    @include media-query($on-large) {
        width: 80%;
    }

    @include media-query($on-laptop) {
      display: block;
      float: left;
      width: 90%;
      padding: 0;
    }


    @include media-query($on-device) {

        display: block;

        width: 100%;
        padding: 0;

      }



}

.col-2 {
    width: 100% - 70.8641975%;
    float: right;

    @include media-query($on-large) {
        width: 35%;
    }

    @include media-query($on-laptop) {
      .col-2 {
          display: block;
          float: right;
          width: 20%;
      }
    }

    @include media-query($on-device) {
      display: block;
      float: none;
      width: 100%;
    }
}

div[role="main"] {
    @include media-query($on-laptop) {


    }
    @include media-query($on-device) {

        .col-2 {

        }
    }


}

.page-wrap {
    overflow: hidden;
}

/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
}

.thankyou {
  font-family: $headings-condensed;
  font-style: italic;
  font-weight: regular;
  color: $grey-color
}
.work-link {
    background-color: rgba(220,220,220,1);
    font-family: $headings-condensed;
    font-style: italic;
    font-weight: regular;
    @include font-size(1.4);
    color: $grey-color;
    margin: 40px 0  40px -12.5%;
    padding: 10px 0 10px 12.5%;

    span {
        display: block;
        color: $grey-color;

        a {
            font-weight: bold;
            font-family: $base-font-family;
            font-style: normal;
            color: white;
        }
    }

    @include media-query($on-device) {
        margin: 35px 0 25px;
        padding: 15px 15px 5px;
        @include font-size(1.6);
        line-height: 1.5em;
        text-align: center;

        span {
            display: inline;
            color: $grey-color;

            a {
                display: block;
                font-weight: bold;
                font-family: $base-font-family;
                font-style: normal;
                color: white;
            }
        }
    }
}



.site-nav {

    float: left;
    line-height: 56px;
    margin-top: 70px;
    width: 90%;
    margin-left: 10%;

    .trigger {
        overflow: hidden;
        width: 100%;
    }
    .menu-icon {
        display: none;
    }

    .nav-list {
        // float: left;
        margin-left: -10px;
        overflow: hidden;
        &.social {
        }

        .page-link {
            color: $hero-background;
            padding: 5px 5px;
            margin: 0 5px;
            display: block;
            float: left;
            line-height: 2;
            @include font-size(1.4);
            font-weight: 300;
            // Gaps between nav items, but not on the first one
            &:not(:first-child) {
                //margin-left: 15px;
            }
        }
    }





    @include media-query($on-laptop) {
        .nav-list {

        }
    }

    @include media-query($on-classic) {
        .nav-list {


        }
    }

    @include media-query($on-device) {





    }



}



/**
 * Site footer
 */

footer {
    background-color: $background-color;
    padding-bottom: 50px;
}


/**
 * Page content
 */
.page-content {
    //padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
