
.post-heading {
	.post-title {
		@include font-size(2.8);
		font-family: $headings-condensed;
		font-weight: 100;
		float: none;
		display: block;
		margin: 0 0 0px -5px;
		padding: 5px;
		color: $text-color;
	}
	.meta {
		margin: 0;
		font-family: $headings-condensed;
		font-style: italic;
		font-weight: 100;
		@include font-size(1.4);
	}
}

.post-hero {
	overflow: hidden;
	padding-bottom: 20px;
}

th, td {
	width: 33em;
}

table {
	margin-bottom: 2em;
}

.affiliate {
 background: #FF9900;
 color: #fff;
 font-size: .5em;
 padding: 2px;
 text-align: center;
 vertical-align: text-top;
}
