.postContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	 	.col-2{
			.post-title {
				@include font-size(4.8);
				font-family: $headings;
				text-transform: uppercase;
				font-weight: 900;
				float: none;
				display: block;
				margin: 0 0 0px -5px;
				padding: 5px;
				color: $text-color;
			}
			.meta {
				margin: 0;
				font-family: $headings-condensed;
				font-style: italic;
				font-weight: 100;
				@include font-size(1.4);
			}

		}

	}


	th, td {
		width: 33em;
	}

	table {
		margin-bottom: 2em;
	}
	.container {
		padding: 40px 10% 29px 30px;
		margin: 0;
	}

	.col-3 {
		border-left: 1px solid $window-color;
	}

	.affiliate {
	 background: #FF9900;
	 color: #fff;
	 font-size: .5em;
	 padding: 2px;
	 text-align: center;
	 vertical-align: text-top;
	}
