// Our variables
$base-font-family: "museo-sans", 'Proxima Nova', Helvetica, Arial, sans-serif;
$headings: "refrigerator-deluxe",'Helvetica Neue',Helvetica,Arial,sans-serif; 
$headings-condensed:  "ff-tisa-web-pro", 'Georgia', serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #2c2b55;
$window-color:     #9b958a;
$background-color: #fff;
$brand-color:      #2bdae8;
$caption-text:     #f7f5f1;
$hero-background:  #30332c;

$grey-color:       #a1a1a1;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1146px;

$on-small:         300px;
$on-device:        600px;
$on-laptop:        1200px;
$on-large:         1600px;