// Our variables
$base-font-family: "Futura PT", Helvetica, Arial, sans-serif;
$headings: "Futura PT",Helvetica,Arial,sans-serif;
$headings-condensed:  "Futura PT",Helvetica,Arial,sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4;

$spacing-unit:     30px;

$text-color:       #CAD4DB;
$window-color:     #2c2b55; // 9b958a
$background-color: #1B2228;
$brand-color:      #2c2b55; // 2c2b55
$secondary-color:  #85D41D; // ff5c5c
$caption-text:     #3A3896; // ff5c5c
$hero-background:  #30332c;

$grey-color:       #a1a1a1;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1146px;

$on-small:         400px;
$on-device:        700px;
$on-classic:	   1000px;
$on-laptop:        1200px;
$on-large:         1600px;
